                            {% if user.is_authenticated %}
                                <form class="form-inline">
                                    <a href="#}" class="btn btn-outline-success my-2 my-sm-0">Register Project</a>
                                </form>
                                <form class="form-inline ml-auto">
                                  <a href="#" class="btn btn-outline-secondary">Logout</a>
                                </form>
                            {% else %}
                                <form class="form-inline ml-auto">
                                  <a href="#" class="btn btn-outline-secondary">Log in</a>
                                </form>
                            {% endif %}
