{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_static %}
{% from 'bootstrap/utils.html' import render_messages %}

<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Welcome to GitDocs</title>

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand mb-0 h1" href="{{ url_for('main_bp.index') }}">GitDocs</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                {{ render_nav_item('main_bp.index', 'Home') }}
                            </div>
                          </div>
                          <ul class="nav navbar-nav navbar-right">
                            {% if g.is_authenticated %}
                                <form class="form-inline">
                                    <a href="{{ url_for('main_bp.register_project') }}" class="btn btn-outline-success my-2 my-sm-0">Register Project</a>
                                </form>
                                {{ render_nav_item('auth_bp.logout', 'Logout') }}
                            {% else %}
                                {{ render_nav_item('auth_bp.login', 'Login') }}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            {{ render_messages(container=False, dismissible=True) }}
            <div class="row">
                <!-- Your page content -->
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            {{ moment.include_moment() }}
        {% endblock %}
        {{ render_static('css', 'css/main.css') }}
    </body>
</html>
