{% extends "base.html" %}
{% from 'bootstrap/nav.html' import render_nav_item %}


{% block content %}
<div class="col-md-3">
  <ul class="nav flex-column nav-tabs bg-light">
    {% for document in documents %}
      <span id="document{{ document.id }}">
        {{ render_nav_item('main_bp.get_document', document, use_li=True, document_name=document) }}
      </span>
    {% endfor %}
  </ul>
</div>

<div class="col-md-9">
  {% if document %}
          <p>{{ document['body_html'] | safe }}</p>
  {% endif %}
</div>

{% endblock %}
